/* Cascating Stylesheet->CSS*/
* {
  /* Seletor Universal, aplica para tudo o que ele encontrar*/
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid; /* se tirar o grid n'ao funciona o debaixo*/
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  heigh: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative; /* limite do posicionamento do avatar*/
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*nao estica a foto*/

  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  ); /*formato*/
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--gray);
  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  line-height: 1.5rem;
}

ul {
  margin-top: 4rem;
  list-style: none; /*tira as bolinhas de lista*/
  padding: 0; /*tira o preenchimento interno*/

  display: flex; /*flex faz com que um elemento fique ao lado do outro*/
  gap: 0.5rem;

  justify-content: center; /*coloca o conteúdo no meio*/
  align-items: center;
}
